@{
    ViewData["Title"] = "Home Page";
}

<style>
    .hero-section {
        position: absolute;
        left: 0;
        width: 100vw;
        height: 80vh;
        background: linear-gradient(to bottom right, #eeeeee, #aaa);
        background-size: cover;
        background-position: center;
        padding: 100px 0;
        text-align: center;
    }

    .hero-text {
        max-width: 700px;
        text-align: left;
        margin-left: 30px;
        color: black;
    }

    .hero-text h1 {
        font-size: 5rem;
        font-weight: bold;
        text-shadow: 0 5px 10px #00000077;
    }

    .hero-text p {
        font-size: 1.2rem;
    }

    .btn-shop-now {
        background-color: #F6C4C3;
        color: white;
        padding: 15px 30px;
        font-size: 1.5rem;
        text-decoration: none;
        transition: background-color 0.1s ease;
        font-weight: bold;
        box-shadow: 0 5px 10px #00000077;
    }

    .btn-shop-now:hover {
        color: white;
        background-color: #d6a4a3;
    }

    .bg-flower {
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }
</style>

<img src="https://png.pngtree.com/png-clipart/20230710/ourmid/pngtree-flowers-png-image_7506581.png"
    class="bg-flower" />

<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hero-text">
                <h1>PETAL AND PLANES</h1>
                <p>Bouquet For Someone Special</p>
                <a asp-action="OrderHere" class="btn-shop-now">SHOP NOW</a>
            </div>

        </div>
    </div>
</section>
