html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

* {
	user-select: none;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #f9f0f9;
	color: #5f4b8b;
	font-family: "Helvetica Neue", sans-serif;
	overflow-x: hidden;
}

.navbar {
	background-color: white;
	box-shadow: 0 5px 10px #00000077;
}

.navbar-brand {
	font-weight: bold;
}

.hero {
	flex: 1;
	background-color: #ffb6c1;
	color: #ffffff;
	padding: 60px 0;
	box-sizing: border-box;
	text-align: center;
}

.hero h1 {
	font-size: 3rem;
	font-weight: bold;
}

.hero p {
	font-size: 1.25rem;
}

.hero .btn-primary {
	background-color: #ff69b4;
	border-color: #ff69b4;
	color: white;
}

.hero .btn-primary:hover {
	background-color: #ff1493;
	border-color: #ff1493;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	background-color: #ff69b4;
	color: white;
	padding: 10px 0;
	text-align: center;
	margin-top: auto;
}

footer a {
	color: #ffffff;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

.container {
	margin-top: 20px;
}

/* .nav-item {
	transition: all 0.3s ease;
} */

.nav-item:hover {
	/* transform: scale(1.1); */
	background-color: #ccc !important;
	border-radius: 20px;
}
